QLabel {
    color: rgb(43, 255, 0);
    font-family: Serif;
    font-size: 24px;
    background-color: rgba(188, 188, 188, 50);
    border: 1px solid rgba(188, 188, 188, 250);
}

QLineEdit {
    color: rgb(43, 255, 0)
    font-size: 11px;
}
QPushButton#self.calc_button { /* Target a specific button named 'myButton' */
    background-color: blue;
}
"""
